.technics {
  padding-bottom: 32px;

  .swiper-container {
    height: 200px;
  }

&__slider {
  @media(min-width: 767px) {
    padding: 12px;
    margin-bottom: 24px;
    height: 185px;
  }
}
}
.technics-item {
  display: flex;
  padding: 16px;
  width: 240px;
  height: 160px;
  text-align: left;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background: #fff;

  @media(min-width: 767px) {
    margin: 12px;
  }

  .slider-link {
    margin-top: auto;
    margin-left: auto;
  }
}
